data_preprocessing==0.0.2
feature_engineering==2.1.4
ipython==8.12.3
keras_tuner==1.4.7
matplotlib==3.9.3
nltk==3.9.1
numpy==2.2.0
pandas==2.2.3
scikit_learn==1.2.2
scikit_learn==1.4.1.post1
scipy==1.14.1
seaborn==0.13.2
tensorflow==2.13.0
visualization==1.0.0
wordcloud==1.9.4
